@model IEnumerable<WQuasar.Models.SubscriptionsViewModel>

@{
    ViewBag.Title = "Subscriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="navbar navbar-default">
        <div class="container">
            <h2>Выберите один из готовых пакетов услуг или сформируйте свой</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pricing-boxes">
        @foreach (var item in Model)
        {
            if (item.Name != "Custom")
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-default panel-@item.CssClass">
                        <div class="panel-heading text-center">
                            <h4>
                                @item.Name
                                @if (item.IsNew == true)
                                {
                                    <span class="label label-success">Новый</span>
                                }
                            </h4>
                            <small>@item.Description</small>
                            <div class="row price">
                                <h4>$ @item.Price</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                @foreach (var service in item.Services)
                                {
                                    <li>
                                        <span class="glyphicon glyphicon-ok text-@item.CssClass"></span>
                                        <strong class="text-@item.CssClass">@service.DisplayName</strong>
                                    </li>
                                }
                            </ul>
                      </div>
                      <div class="panel-footer text-center">
                          @using (Html.BeginForm("Payment", "Subscriptions", FormMethod.Post))
                          {
                              <input type="hidden" value="@item.Id" name="SubscriptionId" />
                              <input type="submit" class="btn btn-@item.CssClass" value="Подключить" />
                          }
                      </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4">
                    <div class="panel panel-default panel-@item.CssClass">
                        <div class="panel-heading text-center">
                            <h4>
                                @item.Name
                                @if (item.IsNew == true)
                                {
                                    <span class="label label-success">Новый</span>
                                }
                            </h4>
                            <small>@item.Description</small>
                        </div>
                        <div class="panel-body">
                            <p>Сформируйте собственный пакет услуг.</p>
                        </div>
                        <div class="panel-footer text-center">
                            @using (Html.BeginForm("Payment", "Subscriptions", FormMethod.Post))
                            {
                                <input type="hidden" value="12" name="SubId" id="SubId" />
                                <input type="submit" class="btn btn-@item.CssClass" value="Создать" />
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$(".panel-body").css("height", "200px");
        console.log("SLON");
    });
</script>
